body {
  /*font-family: 'Merriweather', serif;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  /*color: #333;*/
  color: #929191;
  background-color: #222;
  fill: #222;
}
h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 45px;
  text-align: left;
}
p {
  line-height: 30px;
  text-align: left;
}
#app {
  padding: 0 16px;
}
