::selection {
  color: white;
}
::-moz-selection {
  color: white;
}
body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #929191;
  background-color: #212121;
  fill: #212121;
}
a {
  color: #929191;
  text-decoration: none;
  border-bottom: 1px solid #65B0ED;
  transition: color 0.3s ease;
}
a:hover {
  color: white;
  border: 0;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  color: #D09A6A;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 45px;
  text-align: left;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: inherit;
  color: #929191;
}
h1 {
  color: white;
  font-weight: 400;
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
p {
  text-align: left;
  line-height: 30px;
}
ul {
  list-style: none;
  padding-left: 0;
}
nav ul li {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  color: white;
  padding: 5px 0;
  padding-left: 15px;
  border-bottom: 0;
  border-left: 5px solid #DE6D77;
}
nav ul li a.category {
  display: block;
  border: 0;
  padding-left: 0;
  transition: padding 0.1s ease,
    color 0.3s ease;
}
nav ul li a.category.active {
  color: white;
}
nav ul li a.category:hover {
  padding-left: 5px;
}
nav ul li:not(:last-child) {
  margin-bottom: 10px;
}
.title {
  margin-bottom: 15px;
}
.yellow {
  color: #D09A6A;
}
.red {
  color: #DE6D77;
}
.blue {
  color: #65B0ED;
}
.green {
  color: #99C27C;
}
.white {
  color: #ffffff;
}
.post-list li:not(:last-child) {
  margin-bottom: 20px;
}
.post-list h4 {
  line-height: 24px;
}
.post-list a {
  border: 0;
}
.post-list span.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: x-small;
}
#app {
  padding: 20px;
}
